.vertical-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 10px;
}

.full-width { width: 100%; }

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.type-toggle {
  margin-bottom: 8px;
  justify-content: center;
  
  mat-button-toggle {
    flex: 1;
    &[value="INCOME"].mat-button-toggle-checked { background-color: #ecfdf5; color: #10b981; }
    &[value="EXPENSE"].mat-button-toggle-checked { background-color: #fef2f2; color: #ef4444; }
  }
}