<h2 mat-dialog-title>
  {{ data.mode === 'view' ? 'Detalhes' : (data.mode === 'edit' ? 'Editar' : 'Nova') }} Transação
</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="vertical-form">
    
    <mat-button-toggle-group formControlName="type" class="full-width type-toggle">
      <mat-button-toggle value="INCOME">Entrada</mat-button-toggle>
      <mat-button-toggle value="EXPENSE">Saída</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descrição</mat-label>
      <input matInput formControlName="description" placeholder="Ex: Mercado mensal">
    </mat-form-field>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>Valor</mat-label>
        <input matInput type="number" formControlName="amount">
        <span matPrefix>R$&nbsp;</span>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Data</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Conta</mat-label>
      <mat-select formControlName="accountId">
        <mat-option *ngFor="let acc of accounts" [value]="acc.id">{{ acc.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Categoria</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">{{ data.mode === 'view' ? 'Fechar' : 'Cancelar' }}</button>
  <button *ngIf="data.mode !== 'view'" mat-flat-button color="primary" [disabled]="form.invalid" (click)="onSave()">
    {{ data.mode === 'edit' ? 'Atualizar' : 'Salvar' }}
  </button>
</mat-dialog-actions>